$site-green: #08ad69;
$site-blue: #0081cc;
$site-yellow: #ffd140;
$site-pink: #7e355d;
$site-purple: #540d6e;
$blue-overlay: rgba(59, 206, 171, 0.7);
$green-overlay: rgba(8, 173, 105, 0.7);
$yellow-overlay: rgba(255, 209, 64, 0.7);
$pink-overlay: rgba(238, 67, 103, 0.7);
$purple-overlay: rgba(84, 13, 110, 0.7);
$text-shadow: rgba(0, 0, 0, 0.3);
$white: white;
