.about-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: -80px;
  .hero-image {
    // width: 880px;
    // height: 280px;
    height: 500px;

    background-image:
      url(../images/about.jpeg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }

  .history {
    width: 980px;
    margin: 0 auto;
    font-family: GillSans;
    #header {
      margin-top: -23px;
      font-size: 25px;
      font-weight: normal;
      border-bottom: solid black 2px;
      width: 200px;
      padding-bottom: 6px;
      letter-spacing: 3px;
    }
  }

  #paragraph {
    max-width: 980px;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 36px;
    margin-bottom: 95px;
    color: grey;
    font-size: 25px;
    // letter-spacing: 3px;
  }
}

@media only all and (max-width: 1020px) {
  .about-content {
    margin-left: 20px;
  }
}
